body{
    perspective:600px;
    background:linear-gradient(to left ,#fff3d1,#eff2d8) ;
}
.contanr{
    width: 450px;
    height: 800px;
    margin: auto;
}
.info{
    width: 440px;
    height: 200px;
    flex-wrap: wrap;
    display: inline-block;

}
.info div{
}
.name{
    width: 200px;
    height: 100px;
    font-size: 100px;
    float: left;
    color: rgba(85, 85, 85, 0.863);
}
.scor_and_newGame{
    width: 150px;
    height: 300px;
    float: right;
    margin-top: 30px;
}
.scor_and_newGame div{
    display: inline-block;
    text-align: center;
}
.scor{
    color: #aaa;
    width: 70px;
    height: 50px;
    background: #fbddc1b9;
    box-shadow: 1px 1px 2px 2px #a3a3a3;
}
.top_scor{
    color: #aaa;
    width: 70px;
    height: 50px;
    background: #fbddc1b9;
    box-shadow: 1px 1px 2px 2px #a3a3a3;

}
.new_game{
    margin-top: 40px;
    width: 145px;
    height: 40px;
    font-size: 20px;
    background: rgba(233, 143, 111, 0.685);
    border-radius: 5px;
    cursor:pointer;
    line-height: 35px;
    color: #fff;
}
.game{
    width:440px;
    height: 450px;
    flex-wrap: wrap;
    display: flex;
    background: rgba(170, 170, 170, 0.349);
    border-radius: 5px;
}

.game div{
    border-radius: 5px;
    line-height:-6px;
    text-align: center;
    width:100px;
    height: 100px;
    margin: 5px;
    font-size: 60px;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.anem{
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.lose{
    z-index: 1;
    height: 450px;
    width: 440px;
    background: rgba(255, 255, 255, 0.664);
    position: absolute;top: 200px;
    color: rgba(85, 85, 85, 0.863);
    text-align: center;
    visibility: hidden;
}
.lose h1{
    margin-top: 150px;
}
.game_over{
    height: 40px;
    width: 120px;
    background: rgba(255, 127, 80, 0.685);
    text-align: center;
    margin: auto;
    line-height: 35px;
    cursor:pointer;
    border-radius: 3px;
}
.app{
    background: #fff3d1;   
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 0;
    line-height: 100px;
}
.app_1{
    background:#f7f6f0;
}
.app_2{
    background:#56c7d6;
}
.app_3{    
    background:#64ec6b59;
}
.app_4{
    background:#aec8f8;
}
.app_5{
    background:#d87056;
}
.app_6{
    background:#805981;
}
.app_7{
    background:#dbbcbc;
}
.app_8{
    background:#d6608d;
}
.app_9{
    background:#e97430;
}
.app_10{
    background:#ff02634d;
}
.app_11{
    background:#426caa4f;
}

/*
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} ----------------------------------------------
 * Generated by Animista on 2020-9-30 16:26:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    50% {
      -webkit-transform: translateZ(10px);
              transform: translateZ(10px);
    }
    100% {
        -webkit-transform: translateZ(0px);
                transform: translateZ(0px);
      }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    50% {
      -webkit-transform: translateZ(10px);
              transform: translateZ(10px);
    }
    100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
      }
  }
  